@font-face {
  font-family: 'Forum';
  src: url('@/assets/font/Forum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('@/assets/font/futura-round-demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Forum';
}

.futura {
  font-family: 'Futura';
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

body::-webkit-scrollbar-button {
  display: none;
}

.splide__arrow {
  height: 4em !important;
  width: 4em !important;
  background: transparent !important;
  opacity: 1 !important;
}

.splide__arrow svg {
  display: none;
}

.splide__arrow:disabled {
  opacity: 1 !important;
}

#room-dark .splide__arrow {
  top: 90% !important;
}
@media (max-width: 768px) {
  #room-dark .splide__arrow {
    top: 5% !important;
  }
}
#room-dark .splide__arrow--prev {
  left: 2em !important;
}

#room-dark .splide__arrow--next {
  left: 7em !important;
  right: auto !important;
}
@media (max-width: 768px) {
  #room-dark .splide__arrow--prev {
    left: 35% !important;
  }
  
  #room-dark .splide__arrow--next {
    left: 52% !important;
    right: auto !important;
  }
}

#room-dark .splide__arrow--next::before {
  content: "";
  display: block !important;
  height: 4em !important;
  width: 4em !important;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none"%3E%3Cg filter="url(%23filter0_b_216_354)"%3E%3Crect x="0.5" y="0.5" width="83" height="83" rx="41.5" stroke="white"/%3E%3Cpath d="M47.8182 32L57.8182 42M57.8182 42L47.8182 52M57.8182 42H26" stroke="white"/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id="filter0_b_216_354" x="-10" y="-10" width="104" height="104" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"%3E%3CfeFlood flood-opacity="0" result="BackgroundImageFix"/%3E%3CfeGaussianBlur in="BackgroundImageFix" stdDeviation="5"/%3E%3CfeComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_216_354"/%3E%3CfeBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_216_354" result="shape"/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E') no-repeat center;
  background-size: contain;
  background-color: transparent;
  border-radius: 100%;
}

#room-dark .splide__arrow--next:hover::before {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none"%3E%3Crect width="84" height="84" rx="42" fill="white"/%3E%3Cpath d="M36 52L26 42M26 42L36 32M26 42H57.8182" stroke="%23135E95"/%3E%3C/svg%3E') no-repeat center;
  background-size: contain;
  transform: scaleX(-1);
}

#room-dark .splide__arrow--prev::before {
  content: "";
  display: block !important;
  height: 4em !important;
  width: 4em !important;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none"%3E%3Cg filter="url(%23filter0_b_216_352)"%3E%3Crect x="0.5" y="0.5" width="83" height="83" rx="41.5" stroke="white"/%3E%3Cpath d="M36 52L26 42M26 42L36 32M26 42H57.8182" stroke="white"/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id="filter0_b_216_352" x="-10" y="-10" width="104" height="104" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"%3E%3CfeFlood flood-opacity="0" result="BackgroundImageFix"/%3E%3CfeGaussianBlur in="BackgroundImageFix" stdDeviation="5"/%3E%3CfeComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_216_352"/%3E%3CfeBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_216_352" result="shape"/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E') no-repeat center;
  background-size: contain;
  background-color: transparent;
  border-radius: 100%;
}

#room-dark .splide__arrow--prev:hover::before {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none"%3E%3Crect width="84" height="84" rx="42" fill="white"/%3E%3Cpath d="M36 52L26 42M26 42L36 32M26 42H57.8182" stroke="%23135E95"/%3E%3C/svg%3E') no-repeat center;
  background-size: contain;

}

#normal-light .splide__arrow--next::before {
  content: "";
  display: block !important;
  height: 4em !important;
  width: 4em !important;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none"%3E%3Crect width="84" height="84" rx="42" fill="white"/%3E%3Cpath d="M47.8182 32L57.8182 42M57.8182 42L47.8182 52M57.8182 42H26" stroke="%23135E95"/%3E%3C/svg%3E') no-repeat center;
  background-size: contain;
  background-color: white;
  border-radius: 100%;
}

#normal-light .splide__arrow--prev::before {
  content: "";
  display: block !important;
  height: 4em !important;
  width: 4em !important;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none"%3E%3Crect width="84" height="84" rx="42" fill="white"/%3E%3Cpath d="M36 52L26 42M26 42L36 32M26 42H57.8182" stroke="%23135E95"/%3E%3C/svg%3E') no-repeat center;
  background-size: contain;
  background-color: transparent;
  border-radius: 100%;
}

#normal-light-container .splide__arrow--prev {
  left: 0em !important;
}

#normal-light-container .splide__arrow--next {
  right: 0em !important;
}
#normal-light-container .splide__arrow--next::before {
  content: "";
  display: block !important;
  height: 4em !important;
  width: 4em !important;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none"%3E%3Crect width="84" height="84" rx="42" fill="white"/%3E%3Cpath d="M47.8182 32L57.8182 42M57.8182 42L47.8182 52M57.8182 42H26" stroke="%23135E95"/%3E%3C/svg%3E') no-repeat center;
  background-size: contain;
  background-color: white;
  border-radius: 100%;
}

#normal-light-container .splide__arrow--prev::before {
  content: "";
  display: block !important;
  height: 4em !important;
  width: 4em !important;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none"%3E%3Crect width="84" height="84" rx="42" fill="white"/%3E%3Cpath d="M36 52L26 42M26 42L36 32M26 42H57.8182" stroke="%23135E95"/%3E%3C/svg%3E') no-repeat center;
  background-size: contain;
  background-color: transparent;
  border-radius: 100%;
}
#list ol,
#list ul,
#list menu {
    list-style: disc !important;
    margin-left: 20px !important;
    padding: 0 !important;
}
.light-bg{
  background-color: #FDF7EF !important;
}